<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sbt.web.mapper.BoardMapper">
	<insert id="insertBoardWrite" useGeneratedKeys="true" keyProperty="articleNumber">
		insert
			into soon.notice_board (
			title,
			content,
			writer,
			registration_time,
			modification_time,
			group_number,
			group_order,
			group_hierarchy
			)
		values
		(
			#{title},
			#{content},
			#{writer},
			current_timestamp,
			current_timestamp,
			0,
			0,
			0
		)
	</insert>
	
	<select id="selectKey" resultType="int">
		select max(article_number) article_number
		  from soon.notice_board
	</select>
	
	<update id="updateGroupNumber" parameterType="com.sbt.web.dto.Board">
		update
			soon.notice_board
		set
			group_number = #{groupNumber}
		where
			article_number = #{articleNumber}
	</update>
	
	<select id="listBoard" parameterType="com.sbt.web.dto.Board" resultType="com.sbt.web.dto.Board">
		select * from (
			select  	@rownum:=@rownum-1 as rownum,
			            article_number,
						title,
						content,
						writer,
						DATE_FORMAT(registration_time, '%Y-%m-%d %H:%i:%s') registrationTime,
						DATE_FORMAT(modification_time, '%Y-%m-%d %H:%i:%s') modificationTime ,
						group_number,
						group_order,
						group_hierarchy				
			from soon.notice_board nb, 
			     (select @rownum:=(select count(*) from soon.notice_board)+1) TMP
			where group_order     = 0   
			  and group_hierarchy = 0
			order by article_number desc
		)tb	
		where group_order     = 0   
		  and group_hierarchy = 0
		limit #{startPage}, #{perPageNum}
	</select>
	
	
	<select id="getNoticeBoardCount" parameterType="com.sbt.web.dto.Board" resultType="int">
		select count(*) cnt
		  from soon.notice_board
	</select>
	
	
	<select id="selectDetail" parameterType="com.sbt.web.dto.Board" resultType="com.sbt.web.dto.Board">
		select
			article_number,
			title,
			content,
			writer,
			DATE_FORMAT(registration_time, '%Y-%m-%d %H:%i:%s') registrationTime,
			DATE_FORMAT(modification_time, '%Y-%m-%d %H:%i:%s') modificationTime ,
			group_number,
			group_order,
			group_hierarchy
		from
			soon.notice_board
		where article_number =  #{articleNumber}
	</select>
	
	<update id="updateModify" parameterType="com.sbt.web.dto.Board">
		update
			soon.notice_board
		set
			title   = #{title},
			content = #{content},
			modification_time = current_timestamp
		where
			article_number = #{articleNumber}
	</update>
	
	<delete id="deleteBoard" parameterType="int">
		delete
		from
			soon.notice_board
		where
			article_number = #{articleNumber}
	</delete>
	

</mapper>